<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit</title>
</head>
<body>
  <form action="/breads/edit/<%= id %>" method="POST">
    <label for="type">Type of Bread</label>
    <input id="type" name="type" type="text" value="<%= type %>"/>
    <input id="submit" name="submit" type="submit" value="Update" />
  </form>
</body>
</html>