<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Homepage</h1>

  <ul>
  <% for (let ii = 0; ii < breads.length; ii++) { %>
   <li><a href="/breads/edit/<%= ii %>"><%= breads[ii] %></a><a href="/breads/delete/<%= ii %>">[x]</a></li>
  <% } %>
  </ul>

  <a href="/breads/new">Add Type</a>

</body>
</html>